{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{ unArtiste.nom }}{% endblock %}

{% block body %}
{% set nbAlbum = unArtiste.albums|length %}
<h1>Fiche de l'artiste</h1>
<div class="d-flex mb-5">
    <a onclick="javascript:history.back()" class="btn btn-dark text-center w-25">Retour</a>
</div>
<div class="row mb-3 align-items-start">
    <div class="col-md-3 col-sm-5 container d-flex flex-column gap-2">
        <img src="{{unArtiste.image}}" alt="Photo de l'artiste" class="img-thumbnail">
        <div>
            <div class="d-flex align-items-baseline gap-3">
                <h3>{{ unArtiste.nom }}</h3>
                <h6 class="text-secondary">
                    {% if unArtiste.type == 0 %}
                    solo
                    {% else %}
                    groupe
                    {% endif %}
                </h6>
            </div>
            <a href="{{unArtiste.site}}" target="_blank" class="text-dark">Site web</a>
        </div>
        <p class="bg-body-secondary rounded p-2">
            {{ unArtiste.description }}
        </p>
    </div>
    
    <div class="col container border rounded p-2 bg-light">
        <h2>Albums <span class="badge text-bg-secondary">{{ nbAlbum }}</span></h2>
        <div class="gap-2" style="display: grid; grid-template-columns: repeat(4, 1fr);">
            {% for album in unArtiste.albums %}
            <div class="card">
                <img src="{{album.image}}" class="card-img-top" alt="Album Cover">
                <div class="card-body">
                    <a href="{{path('app_album', {'id': album.id})}}" class="text-dark">{{album.nom}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
