{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Artistes{% endblock %}
{% block body %}
<h1 class="text-center">Liste des Artistes</h1>
{% include 'include/artSearchBar.html.twig' %}
<div class="container-fluid mt-3 gap-3" style="display: grid; grid-template-columns: repeat(4, 1fr);">
{% for artiste in lesArtistes %}
{% set nbAlbum = artiste.albums|length %}
<div class="card" style="">
  <img src=" {{ artiste.image }}" class="card-img-top" alt="photo de l'artiste">
  <div class="card-body">
    <h5 class="card-title"><a href="{{ path('app_artiste', {'id': artiste.id}) }}">{{artiste.nom}}</a></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nationalité : {{ artiste.nationalite }}</li>
    <li class="list-group-item">Nombre d'albums : {{ nbAlbum }}</li>
  </ul>
  <div class="card-body">
    <a href="{{ artiste.site }}" target="_blank" class="btn btn-dark btn-sm w-100">Site web</a>
  </div>
</div>
{% endfor %}
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="navigation">
    {{ knp_pagination_render(lesArtistes) }}
    </div>
</div>
{% endblock %}