{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{ unAlbum.nom }}{% endblock %}

{% block body %}
{% set label = unAlbum.label %}
{% set artiste = unAlbum.artiste %}
{% set morceaux = unAlbum.morceaus|length %}

<h1>Fiche de l'album</h1>
<div class="d-flex mb-5">
    <a onclick="javascript:history.back()" class="btn btn-dark text-center w-25">Retour</a>
</div>
<div class="row mb-3 container align-items-start">    
    <div class="col card p-0">
        <div class="card-header">
            <h4 class="card-title">Morceaux : {{ morceaux }}</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for morceau in unAlbum.morceaus %}
            <li class="list-group-item d-flex justify-content-between">
                <span>{{ morceau.titre }}</span>
                <span class="badge bg-body-secondary text-dark">{{ morceau.duree }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-3 col-sm-5 container d-flex flex-column gap-2">
        <img src="{{unAlbum.image}}" alt="Image de l'album" class="img-thumbnail">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h3>{{ unAlbum.nom }}</h3>
            </li>
            <li class="list-group-item">
                <span>Artiste</span> <br>
                <img src="{{ artiste.image }}" width="32px" class="rounded-1 border" />
                <a href="{{ path('app_artiste', {'id': artiste.id}) }}" class="text-dark">{{ artiste.nom }}</a>
            </li>
            <li class="list-group-item">
                <span>Label</span> <br>
                <img src="{{ label.logo }}" width="32px" class="rounded-1 border" />
                <a href="{{ path('app_label', {'id': label.id}) }}" class="text-dark">{{ label.nom }}</a>
            </li>
            <li class="list-group-item">
                <span>Styles</span> <br>
                {% for style in unAlbum.styles %}
                    <span class="badge text-dark border bg-body-secondary">{{ style.libelle }}</span>
                {% endfor %}
            </li>
            <li class="list-group-item">
                <span class="text-secondary">Création: {{unAlbum.createdAt|date('d/m/Y')}}</span> <br>
                <span class="text-secondary">Mise à jour: {{unAlbum.updatedAt|date('d/m/Y')}}</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
