{% extends 'base.html.twig' %}

{% block title %}Hello LabelController!{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Fiche du Label</h1>
<div class="d-flex mb-5">
    <a onclick="javascript:history.back()" class="btn btn-primary text-center w-25">Retour</a>
</div>
<div class="row">
        <div class="card px-0 mb-3 container">
        <div class="card-header">
            <h5 class="card-title text-center">{{ unLabel.nom }} - {{ unLabel.annee }}</h5>
        </div>
        <div class="row py-3 px-1">
            <div class="col d-flex allign-items-center">
                <img style="aspect-ratio: 1/1; width: 192px; margin: auto; object-fit: center;"
                class="rounded"
                src="{{ unLabel.logo }}"
                draggable="false"/>
            </div>
            <div class="px-2 col">
                <h5 class="card-title">Albums signés</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    {% for album in unLabel.albums %}
                    <a href="{{path('app_album', {'id': album.id})}}">
                        <span class="badge rounded-pill badge-info bg-dark">
                            {{ album.nom }}
                        </span>
                    </a>
                    {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>
{% endblock %}
